<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   exportOptions.plist
   Ratios

   Created by Luiza on 4/8/23.
   Copyright (c) 2023 John Peden. All rights reserved.
-->
<plist version="1.0">
<dict/>
</plist>
